.content-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .video-card,
  .article-card {
    position: relative;
    overflow: hidden;
    padding: 20px; /* Add padding to each component */
  }
  
  .video-wrapper {
    width: 100%;
    padding-top: 100%; /* Square-shaped box */
    position: relative;
  }
  
  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .article-card {
    width: 100%;
  }
  
  .article-thumbnail {
    width: 100%;
    height: 200px; /* Set a fixed height for the thumbnail */
    overflow: hidden;
    border-radius: 8px;
  }
  
  .article-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out; /* Add transition for smooth animation */
  }
  
  .article-thumbnail img:hover {
    transform: scale(1.1); /* Scale the image by 110% on hover */
  }
  
  .article-preview h3 {
    margin: 0;
    padding: 10px;
    font-size: 20px; /* Adjust font size as needed */
    color: black; /* Set color to black */
  }
  
  .article-preview:hover {
    background-color: #e0e0e0;
  }
  .head-line{
    padding-left: 20px;
    color:black;
  }