.help-center-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #c69963;
  }
  
  .search-input {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .search-button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: black;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .search-results {
    margin-top: 20px;
  }
  
  .search-result-card {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .search-result-card h3 {
    margin-bottom: 10px;
  }
  .head-line{
    color:#fff;
  }