/* HomePage.css */
*, *::before, *::after {    /* Prevent Header from extruding passed the window size */
    box-sizing: border-box;
  }
section {
    padding: 20px;
    margin: 20px;
}
  
h1 {
    text-align: center;
    margin-bottom: 20px;
}

